<li class='post box'>
	<span class=<%= user == current_user ? 'current-user' : 'user' %>>
		<%= user ? user.username : "Deleted user" %>
	</span>
	<% if original_post = post.reply_to_id %>
		<% original_user = User.first(:id => (Post.first(:id => original_post).user_id)) %>
		<span class=<%= original_user == current_user ? 'current-user' : 'user' %>>
			-> <%= User.first(:id => (Post.first(:id => original_post).user_id)).username %>
		</span>
	<% end %>
	<div class='content'>
		<%= post.text %>
	</div>
	<span class='reply-to'>
		<a href="/posts/reply/<%=post.id%>">Reply</a>
	</span>	
	<span class='info'>
		<%= time.strftime("%d/%m/%y, %I:%M%p") %>
	</span>
</li>